/* @mixin title {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 58px;
    margin-bottom: 2.5rem;
  } */

@mixin body-text {
  font-size: 1.85rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(206, 206, 206);
  text-shadow: -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0),
    -1px 1px 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0);
  line-height: 2.9rem;
  letter-spacing: 0.01em;
}
