.universe {
  display: flex;
  justify-content: center;
  align-items: center;
}

.galaxy {
  background-color: rgb(108, 196, 255);
  box-shadow: 0 0 10px 2px rgb(97, 161, 0), inset 0 0 12px 4px rgb(97, 161, 0);
  border: 1px solid rgb(97, 161, 0);
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
