$outlineColor: rgb(0, 0, 0);

@font-face {
  font-family: "Geneva";
  font-style: normal;
  font-weight: 400;
  src: local("Geneva"), url("../fonts/Geneva.ttf") format("truetype");
}

.lake .box {
  border: 2px solid pink;
  box-shadow: 0 0 15px 5px rgba(255, 192, 203, 0.6),
    inset 0 0 15px 5px rgba(203, 255, 187, 0.6);
  position: absolute;
  padding: 1rem;
  padding-top: 3rem;
  top: 0;
  left: 0;
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  font-size: 2rem;
  font-family: "Geneva";
  color: greenyellow;
  &:hover {
    color: black;
  }
  /* text-shadow: -1px -1px 0 $outlineColor, 1px -1px 0 $outlineColor,
    -1px 1px 0 $outlineColor, 1px 1px 0 $outlineColor; */
  letter-spacing: 1px;
  text-decoration: none;

  /* making the ... dots */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lake__one__box {
  animation: balls1 1s infinite linear;
}

.lake__two__box {
  animation: balls2 4s infinite linear;
}

.lake__three__box {
  animation: balls3 8s infinite linear;
}

@keyframes balls1 {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(0, 10px);
  }
  50% {
    transform: translate(10px, 10px);
  }
  75% {
    transform: translate(10px, 0);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes balls2 {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(0, 210px);
  }
  50% {
    transform: translate(210px, 210px);
  }
  75% {
    transform: translate(210px, 0);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes balls3 {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(0, 410px);
  }
  50% {
    transform: translate(410px, 410px);
  }
  75% {
    transform: translate(410px, 0);
  }
  100% {
    transform: translate(0);
  }
}
