$outlineColor: rgb(0, 0, 0);
$secondary-shadow: rgb(221, 169, 0.3);
$primary-shadow: rgba(152, 170, 146, 0.6);
$original-shadow: rgba(203, 255, 187, 0.6);
$which: rgb(250, 231, 207);

@font-face {
  font-family: "Geneva";
  font-style: normal;
  font-weight: 400;
  src: local("Geneva"), url("../fonts/Geneva.ttf") format("truetype");
}

.lake {
  .box {
    border: 1px solid rgb(248, 104, 135); /* pink */
    box-shadow: 0 0 15px 5px rgba(201, 113, 13, 0.6),
      inset 0 0 15px 5px $primary-shadow;
    position: absolute;
    cursor: pointer;

    padding: 1.6rem;

    /* text-overflow: ellipsis; */
    /* white-space: nowrap; */

    width: 9vw;
    height: 9vh;
    text-align: center;
    border-radius: 50%;
    font-size: 2rem;
    font-family: "Geneva", Verdana, Tahoma, sans-serif;
    color: transparent;
    &:hover {
      /* color: #17007f; */
      text-shadow: 1px 1px 1px black;
      overflow: visible;
    }
    text-shadow: 1px 1px 1px #e8ff80;
    /* text-shadow: -1px -1px 0 $outlineColor, 1px -1px 0 $outlineColor,
      -1px 1px 0 $outlineColor, 1px 1px 0 $outlineColor; */
    letter-spacing: 1px;
    transition: all 0.1s ease-in-out;

    overflow: hidden;
    span {
    }
  }

  .box-1 {
    animation-delay: 1s;
  }
  .box-2 {
    animation-delay: 2.2s;
  }
  .box-3 {
    animation-delay: 3.4s;
  }
  .box-4 {
    animation-delay: 4.6s;
  }
  .box-5 {
    animation-delay: 5.8s;
  }
  .box-6 {
    animation-delay: 7s;
  }
  .box-7 {
    animation-delay: 8.2s;
  }
  .box-8 {
    animation-delay: 9.4s;
  }
  .box-9 {
    animation-delay: 1s;
  }
  .box-10 {
    animation-delay: 2.2s;
  }
  .box-11 {
    animation-delay: 3.4s;
  }
  .box-12 {
    animation-delay: 4.6s;
  }
  .box-13 {
    animation-delay: 1s;
  }
}

.lake__one__box {
  animation: balls1 1.2s infinite linear;
}

.lake__two__box {
  animation: balls2 4.8s infinite linear;
}

.lake__three__box {
  animation: balls3 9.6s infinite linear;
}

@keyframes balls1 {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(0, 1vh);
  }
  50% {
    transform: translate(1vw, 1vh);
  }
  75% {
    transform: translate(1vw, 0);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes balls2 {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(0, 21vh);
  }
  50% {
    transform: translate(21vw, 21vh);
  }
  75% {
    transform: translate(21vw, 0);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes balls3 {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(0, 41vh);
  }
  50% {
    transform: translate(41vw, 41vh);
  }
  75% {
    transform: translate(41vw, 0);
  }
  100% {
    transform: translate(0);
  }
}
@media (max-width: 1000px) {
  .lake {
    .box {
      padding: 2rem 1rem;
    }
  }
}

@media (max-width: 700px) {
  .lake {
    .box {
      padding: 1.8rem 0.5rem;
    }
  }
}
