$outlineColor: rgb(0, 0, 0);
$secondary-shadow: rgb(53, 185, 0);
$primary-shadow: rgba(203, 255, 187, 0.6);
$secondary-shadow2: rgb(221, 169, 0);

@font-face {
  font-family: "Geneva";
  font-style: normal;
  font-weight: 400;
  src: local("Geneva"), url("../fonts/Geneva.ttf") format("truetype");
}

.lake {
  .box {
    border: 1px solid $secondary-shadow;

    box-shadow: 0 0 13px 3px rgba(255, 192, 203, 0.5),
      inset 0 0 13px 3px $secondary-shadow;
    position: absolute;
    cursor: pointer;

    padding: 2rem;

    /* text-overflow: ellipsis; */
    /* white-space: nowrap; */

    width: 9vw;
    height: 9vh;

    border-radius: 50%;
    font-size: 2rem;
    font-family: "Geneva", Verdana, Tahoma, sans-serif;
    color: rgb(99, 99, 99);
    &:hover {
      color: black;
      overflow: visible;
    }
    /* text-shadow: -1px -1px 0 $outlineColor, 1px -1px 0 $outlineColor,
    -1px 1px 0 $outlineColor, 1px 1px 0 $outlineColor; */
    letter-spacing: 1px;
    text-decoration: none;
    transition: all 0.1s ease-in-out;

    overflow: hidden;
  }

  .box-1 {
    animation-delay: 1s;
  }
  .box-2 {
    animation-delay: 2.2s;
  }
  .box-3 {
    animation-delay: 3.4s;
  }
  .box-4 {
    animation-delay: 4.6s;
  }
  .box-5 {
    animation-delay: 5.8s;
  }
  .box-6 {
    animation-delay: 7s;
  }
  .box-7 {
    animation-delay: 8.2s;
  }
  .box-8 {
    animation-delay: 9.4s;
  }
  .box-9 {
    animation-delay: 1s;
  }
  .box-10 {
    animation-delay: 2.2s;
  }
  .box-11 {
    animation-delay: 3.4s;
  }
  .box-12 {
    animation-delay: 4.6s;
  }
  .box-13 {
    animation-delay: 1s;
  }
}

.lake__one__box {
  animation: balls1 1.2s infinite linear;
}

.lake__two__box {
  animation: balls2 4.8s infinite linear;
}

.lake__three__box {
  animation: balls3 9.6s infinite linear;
}

@keyframes balls1 {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(0, 1vh);
  }
  50% {
    transform: translate(1vw, 1vh);
  }
  75% {
    transform: translate(1vw, 0);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes balls2 {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(0, 21vh);
  }
  50% {
    transform: translate(21vw, 21vh);
  }
  75% {
    transform: translate(21vw, 0);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes balls3 {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(0, 41vh);
  }
  50% {
    transform: translate(41vw, 41vh);
  }
  75% {
    transform: translate(41vw, 0);
  }
  100% {
    transform: translate(0);
  }
}
@media (max-width: 1000px) {
  .lake {
    .box {
      padding: 1rem;
    }
  }
}

@media (max-width: 600px) {
  .lake {
    .box {
      padding: 0.5rem;
    }
  }
}
