$pulseColorTwo: rgb(97, 161, 0);

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1.8rem 3rem;
  font-size: 1.6rem;
  text-align: left;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.footer-container {
  display: flex;
  align-items: center;
}
.footer-description {
  position: relative;
  text-decoration: none;
  color: black;
}

.footer-screen {
  margin-left: 0.5rem;
  /* position: absolute; */
  width: 3vw;
  height: 3vh;
  border-radius: 2px;
  display: inline-block;
  background-color: rgb(108, 196, 255);
  animation: pulse-glow-footer 2s linear infinite;
  cursor: pointer;
}

@keyframes pulse-glow-footer {
  0% {
    box-shadow: 0 0 1px 1px $pulseColorTwo, inset 0 0 2px 2px $pulseColorTwo;
  }

  50% {
    box-shadow: 0 0 1px 1px $pulseColorTwo, inset 0 0 6px 6px $pulseColorTwo;
  }

  100% {
    box-shadow: 0 0 1px 1px $pulseColorTwo, inset 0 0 2px 2px $pulseColorTwo;
  }
}

@media (max-width: 600px) {
  .footer-screen {
    width: 2rem;
    height: 2.6rem;
    margin-bottom: 0rem;
  }
}
