$pulseColorTwo: rgb(97, 161, 0);
$secondary-shadow: rgb(221, 169, 0);

@font-face {
  font-family: "Geneva";
  font-style: normal;
  font-weight: 400;
  src: local("Geneva"), url("../fonts/Geneva.ttf") format("truetype");
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1.8rem 3rem;
  font-size: 1.6rem;
  text-align: left;
  font-family: "Geneva", Verdana, Tahoma, sans-serif;
}

.footer-container {
  display: flex;
  align-items: center;
}
.footer-description {
  position: relative;
  text-decoration: none;
  color: black;
  /* color: #17007f; */
}

.footer-screen {
  margin-left: 0.7rem;

  border: 1px solid rgb(248, 104, 135);
  box-shadow: 0 0 6px 3px rgba(201, 113, 13, 0.6),
    inset 0 0 6px 3px rgba(152, 170, 146, 0.6);
  border-radius: 50%;
  background-color: rgba(255, 228, 109, 0.7);
  &:hover {
    background-color: rgb(250, 231, 207);
  }
  &:active {
    background-color: rgb(250, 231, 207);
  }
  width: 3vw;
  height: 3vh;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
