$pulseColorTwo: rgb(97, 161, 0);

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1.8rem 3rem;
  font-size: 1.6rem;
  color: black;
  text-align: left;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.footer-description {
  position: relative;

  &:after {
    content: "";
    margin-left: 10px;
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 2px;
    display: inline-block;
    background-color: rgb(108, 196, 255);
    animation: pulse-glow-footer 3s linear infinite;
  }
}

@keyframes pulse-glow-footer {
  0% {
    box-shadow: 0 0 1px 1px $pulseColorTwo;
  }

  50% {
    box-shadow: 0 0 2px 2px $pulseColorTwo, inset 0 0 10px 10px $pulseColorTwo;
  }

  100% {
    box-shadow: 0 0 1px 1px $pulseColorTwo;
  }
}
