.lake {
  width: 50rem;
  height: 50rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lake .plane {
  position: absolute;
}

.lake__one {
  width: 20%;
  height: 20%;
}

.lake__two {
  width: 60%;
  height: 60%;
}

.lake__three {
  width: 100%;
  height: 100%;
}
