.lake {
  width: 50vw;
  height: 50vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lake .plane {
  position: absolute;
}

.lake__one {
  width: 10vw;
  height: 10vh;
}

.lake__two {
  width: 30vw;
  height: 30vh;
}

.lake__three {
  width: 50vw;
  height: 50vh;
}

/* @media (max-width: 900px) {
  .lake {
  }
}
 */
/* .lake {
  width: 50rem;
  height: 50rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
} */
