$website-blue: rgb(108, 196, 255);
$website-green: rgb(97, 161, 0);

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background-color: khaki;
  font-family: sans-serif;
  font-size: 1.6rem;
  color: #444;
}

.content-container {
  min-width: 300px;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
}

/* a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
} */

.page {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
}

.background1 {
  background-image: linear-gradient(hotpink, white);
}

.background2 {
  background-image: linear-gradient(white, #a6ffb9);
}

.background2-1 {
  background-image: linear-gradient(rgb(108, 196, 255), rgba(203, 255, 187, 1));
}

.background2-2 {
  background-image: linear-gradient(
    rgba(108, 196, 255, 0.5),
    rgba(203, 255, 187, 0.5)
  );
}

.background3 {
  background-image: linear-gradient(rgba(255, 105, 180, 0), #a6ffb9);
}

.background4 {
  background-image: linear-gradient(white, rgb(108, 196, 255));
}
