$website-blue: rgb(108, 196, 255);
$website-green: rgb(97, 161, 0);
$outline: rgb(66, 66, 66);

@font-face {
  font-family: "Geneva";
  font-style: normal;
  font-weight: 400;
  src: local("Geneva"), url("../fonts/Geneva.ttf") format("truetype");
}

@mixin body-text {
  font-size: 1.85rem;
  font-family: "Geneva", Verdana, Tahoma, sans-serif;
  color: pink;
  text-shadow: -1px -1px 0 $outline, 1px -1px 0 $outline, -1px 1px 0 $outline,
    1px 1px 0 $outline;
  line-height: 2.9rem;
  letter-spacing: 0.09rem;
}

.overlay {
  min-width: 100vw;
  min-width: -webkit-fill-available;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  position: absolute;

  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: appear-overlay 0.4s ease-in forwards;
}

@keyframes appear-overlay {
  0% {
  }
  100% {
    background-color: rgba(181, 164, 197, 0.5);
  }
}

.text-component-card {
  position: absolute;
  z-index: 100;
  max-height: 80vh;
  border-radius: 10px;
  /* border: 4px solid $website-blue; */
  overflow: auto;
  border: 2px solid pink;
  box-shadow: 0 0 15px 5px rgba(255, 192, 203, 0.6),
    inset 0 0 15px 5px rgba(203, 255, 187, 0.6);
}

.text-component-card__content {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .blob {
    padding: 3rem 2rem 0rem 2rem;

    &__text {
      @include body-text;
    }
  }

  &__closing-btn {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    width: 3rem;
    height: 3rem;
    padding: 2rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: center;

    span {
      font-size: 2.6rem;
      font-weight: bold;
      font-family: cursive;
      color: rgb(203, 255, 187);
      &:hover {
        color: pink;
      }

      animation: btn-appear 3s ease-in forwards;
      transition: all 0.15s;
    }
  }
}
.text-component-card__date {
  .blob__date {
    border-top: 1px solid pink;
    width: 100%;

    background-color: rgba(255, 233, 204, 1);
    padding: 1rem;
    font-size: 1.4rem;
    color: rgba(99, 99, 99, 1);
    display: inline-block;
  }
}

@media (max-width: 700px) {
  .text-component-card {
    max-height: 70vh;
    border: none;
    border-radius: 0;
    border-top: 1px solid pink;
    border-bottom: 1px solid pink;
  }
  .text-component-card__content {
    padding: 1.5rem;

    &__closing-btn {
      padding: 2rem;
      padding-bottom: 4rem;

      span {
        &:active {
          color: pink;
        }
      }
    }
  }

  .overlay {
    animation: appear-overlay-mobile 0.4s ease-in forwards;
  }

  @keyframes appear-overlay-mobile {
    0% {
    }
    100% {
      background-color: rgba(181, 164, 197, 0.5);
    }
  }
}
