/* 375px
 */

/* _____________________________ HEADER _____________________________ */

.header {
  /* background-image: linear-gradient(rgb(166, 255, 185), hotpink); */
  padding: 3rem;
}

.nav-bubble {
  background-image: linear-gradient(rgba(255, 105, 180, 0), rgb(166, 255, 185));
  max-width: 400px;
  height: 15rem;
  margin: 0 auto;
  border-radius: 50%;
}

.div-random-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-random-link a {
  font-size: 4rem;
  text-decoration: none;
  text-shadow: 2px 2px 2px rgba(70, 131, 180, 0.521);
  position: sticky;
  top: 0;
}
